.accordion {
	padding: 1rem 0;
}

.accordion h5 {
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 500;
	padding: 0.5rem 1rem;
	color: var(--light-text);
}

.accordion .link {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	font-size: 1rem;
	text-transform: capitalize;
	font-weight: 300;
	height: 40px;
}

.accordion .link:hover {
	background-color: var(--light-primary);
	color: var(--primary);
}

.accordion-tab-label::after {
	content: '\276F';
	width: 20px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	transform: rotate(90deg);
	transition: all 0.35s;
}

.accordion .link svg {
	width: 16px;
	height: 16px;
}

.accordion .link section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.accordion-tab {
	position: relative;
}

.accordion-tab input {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.35s;
}

.accordion .link.active,
.accordion-tab:has(.active) .link {
	color: var(--primary);
	font-weight: bold;
}

.accordion-tab:has(.active) .accordion-content,
.accordion-tab input:checked ~ .accordion-content {
	max-height: none;
}

.accordion-tab:has(.active) .accordion-tab-label::after,
.accordion-tab input:checked + .accordion-tab-label::after {
	transform: rotate(270deg);
}

.accordion-content ul {
	padding: 0;
}

.accordion-content ul li {
	list-style: none;
	position: relative;
	height: 35px;
	padding: 0 0 0 3rem;

	&::before {
		position: absolute;
		content: ' ';
		top: -18px;
		left: 25px;
		width: 20px;
		height: 35px;
		border: dashed 1px var(--text);
		border-width: 0 0 1px 1px;
	}

	&:hover {
		background-color: var(--light-primary);
	}
}

.accordion-content ul li a {
	display: block;
	height: 35px;
	line-height: 35px;
	font-size: 0.9rem;
}

.accordion-content ul li a.active {
	color: var(--primary);
	font-weight: bold;
}
