.dropdown {
	position: relative;

	& input {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
}

.dropdown-trigger {
	min-width: 150px;
	width: max-content;
	height: 40px;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: space-between;
	border: solid 1px var(--border);
}

.dropdown-trigger img,
.dropdown-content li img {
	width: 28px;
	height: auto;
}

.arrow {
	width: 20px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	transform: rotate(90deg);
	transition: all 0.35s;
}
.arrow-down {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: var(--text) transparent transparent transparent;
	margin: 0 0 0 5px;
}

.dropdown:has(input:checked) .dropdown-trigger,
.dropdown-trigger:hover {
	cursor: pointer;
	background-color: var(--primary);
	color: var(--inverse-text);

	.arrow-down {
		border-color: var(--inverse-text) transparent transparent transparent;
	}
}

.dropdown-content {
	margin-top: 0.2rem;
	display: none;
	position: absolute;
	padding: 0.5rem 0;
	min-width: 160px;
	border-radius: 0.2rem;
	z-index: 1;
	background-color: var(--bg);
	border: solid 1px var(--border);
	box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
}

.dropdown-content li a {
	height: 40px;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0 1rem;
	text-decoration: none;
	justify-content: flex-start;
}

.dropdown-content li a:hover {
	background-color: var(--light-primary);
}

.dropdown-content li a.selected {
	font-weight: bold;
	color: var(--primary);
}

.dropdown:has(input:checked) .dropdown-content {
	display: block;
}

/* Animate the dropdown content */
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.dropdown-content {
	animation: slideIn 0.3s ease-out;
}
