.hljs {
	font-size: 0.8rem;
	line-height: 1.2;
	overflow: auto;
	position: relative;
}

.hljs .btn-copy {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 30%;
	cursor: pointer;

	&:hover {
		background-color: hsla(0, 0%, 87%, 0.5);
		backdrop-filter: blur(5px);
		opacity: 1;
	}
}

.hljs .lbl-copy {
	position: absolute;
	top: 10px;
	right: 50px;
	color: green;
	visibility: hidden;
	opacity: 0;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 0.2rem;
	text-shadow: hsl(0, 0%, 50%) 1px 1px 0;

	&.show {
		visibility: visible;
		opacity: 1;
		animation: bounce 2s ease infinite;
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

.hljs h1,
.hljs h2,
.hljs h3,
.hljs h4,
.hljs h5 {
	word-wrap: break-word;
	line-height: 1;
}

.hljs h1 {
	font-size: 2rem;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 1rem 0.5rem 2rem 0.5rem;
	font-family: 'Archivo Black', serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow:
		2px 8px 6px rgba(0, 0, 0, 0.2),
		0px -5px 35px rgba(255, 255, 255, 0.3);
}

.hljs h2 {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 1rem 0;
}

.hljs h3 {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 1rem 0;
}

.hljs ::marker {
	content: counters(list-item, '.') '.';
	font-size: 0.85rem;
}

.hljs a {
	color: var(--text);
	font-weight: 400;

	&:hover {
		color: var(--primary);
	}
}

.hljs ol,
.hljs ul {
	list-style: decimal;
	margin: 0.5rem 0;
	padding: 0 0 0 1rem;

	.hljs li {
		padding: 0 0 0 0.5rem;

		.hljs ol,
		.hljs ul {
			margin-bottom: 0;

			.hljs li {
				font-size: 0.9rem;
			}
		}
	}
}

.hljs p {
	margin: 0.5rem 0;
}

.hljs img {
	border-radius: 0.5rem;
	border: solid 1px var(--border);
	background-color: var(--bg);
}

.hljs .line-number {
	text-align: right;
	padding: 0 15px;
	color: var(--light-text);
	width: 30px;
	font-size: 11px;
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

/* Technique to disable line numbers from being selected and copied. 
   Checkout this post for more details http://codepen.io/danoc/pen/ByGKZv */
.hljs [data-pseudo-content]::before,
.hljs [data-pseudo-content--before]::before,
.hljs [data-pseudo-content--after]::after {
	content: attr(data-pseudo-content);
}

.hljs .code-table {
	width: 100%;
}

.hljs .code-table tbody tr:nth-child(odd) {
	background-color: var(--odd-bg);
}

.hljs .code-table tbody tr:nth-child(even) {
	background-color: var(--even-bg);
}
